.project
.classpath
.settings/
.idea/
*.iml
/modules/archetype/target/
/modules/integration-tests/it-xcode-maven-plugin-verification-checks/target/
/modules/integration-tests/it-xcode-maven-plugin/target/
/modules/integration-tests/it-xcode-maven-plugin/src/test/projects/straight-forward/MyApp/src/xcode/build/
/modules/xcode-maven-plugin/target/
/modules/plist-parser/target/
/modules/integration-tests/it-xcode-maven-plugin/src/test/projects/straight-forward/MyApp/target/
/modules/integration-tests/it-xcode-maven-plugin/src/test/projects/multiple-targets/MultipleTargets/target/
/parent/target/
project.xcworkspace/
xcuserdata/
/target/
*~
#*#
bin
modules/xcode-maven-plugin/src/test/projects/MyLib3/
