.project
.classpath
.settings/
.idea/
.idea/libraries/*.xml
**/*.iml
/modules/archetype/target/
/modules/it-xcode-maven-plugin/target/
/modules/it-xcode-maven-plugin/src/test/projects/straight-forward/MyApp/src/xcode/build/
/modules/xcode-maven-plugin/target/
/modules/plist-parser/target/
/modules/it-xcode-maven-plugin/src/test/projects/straight-forward/MyApp/target/
/modules/it-xcode-maven-plugin/src/test/projects/multiple-targets/MultipleTargets/target/
project.xcworkspace/
xcuserdata/
/target/
*~
#*#
