.info {
	border-style: solid;
	border-width: 1px;
	border-radius: 8px;
	border-color: #0088CC;
	background-color: #d0e0ff;
	box-shadow:3px 3px 5px #a0a0a0;
	padding: 8px;
	width: 75%;
}

.note {
	border-style: solid;
	border-width: 1px;
	border-radius: 8px;
	border-color: #FF8000;
	background-color: #FFF987;
	box-shadow:3px 3px 5px #a0a0a0;
	padding: 8px;
	width: 75%;
}

.warning {
	border-style: solid;
	border-width: 1px;
	border-radius: 8px;
	border-color: #FF0000;
	background-color: #F5A9A9;
	box-shadow:3px 3px 5px #a0a0a0;
	padding: 8px;
	width: 75%;
}
