<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <!-- proxies>
    <proxy>
      <id>sap-proxy</id>
      <active>true</active>
      <protocol>http</protocol>
      <host>proxy.wdf.sap.corp</host>
      <port>8080</port>
      <nonProxyHosts>nexus.wdf.sap.corp|*.sap.corp</nonProxyHosts>
    </proxy>
  </proxies -->
  <profiles>
    <profile>
      <id>myprofile</id>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
      <repositories>
        <repository>
          <id>sap-nexus-ondevice</id>
          <name>SAP NEXUS Ondevice </name>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>always</updatePolicy>
            <checksumPolicy>warn</checksumPolicy>
          </releases>
          <snapshots>
            <enabled>true</enabled>
            <updatePolicy>always</updatePolicy>
            <checksumPolicy>fail</checksumPolicy>
          </snapshots>
          <url>http://nexus.wdf.sap.corp:8081/nexus/content/repositories/deploy.milestone.ondevice.hosted</url>
          <layout>default</layout>
        </repository>
        <repository>
          <id>sap-nexus-buildmilestones</id>
          <name>SAP NEXUS (Build Milestones)</name>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>always</updatePolicy>
            <checksumPolicy>warn</checksumPolicy>
          </releases>
          <snapshots>
            <enabled>true</enabled>
            <updatePolicy>always</updatePolicy>
            <checksumPolicy>fail</checksumPolicy>
          </snapshots>
          <url>http://nexus.wdf.sap.corp:8081/nexus/content/groups/build.milestones</url>
          <layout>default</layout>
        </repository>
      </repositories>
      <pluginRepositories>  
        <pluginRepository>
          <id>sap-nexus-ondevice-plugins</id>
          <name>SAP NEXUS Ondevice (Plugins) </name>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>always</updatePolicy>
            <checksumPolicy>warn</checksumPolicy>
          </releases>
          <snapshots>
            <enabled>true</enabled>
            <updatePolicy>always</updatePolicy>
            <checksumPolicy>fail</checksumPolicy>
          </snapshots>
          <url>http://nexus.wdf.sap.corp:8081/nexus/content/repositories/deploy.milestone.ondevice.hosted</url>
          <layout>default</layout>
        </pluginRepository>
        <pluginRepository>
          <id>sap-nexus-buildmilestones-plugins</id>
          <name>SAP NEXUS (Build Milestones Plugins)</name>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>always</updatePolicy>
            <checksumPolicy>warn</checksumPolicy>
          </releases>
          <snapshots>
            <enabled>true</enabled>
            <updatePolicy>always</updatePolicy>
            <checksumPolicy>fail</checksumPolicy>
          </snapshots>
          <url>http://nexus.wdf.sap.corp:8081/nexus/content/groups/build.milestones</url>
          <layout>default</layout>
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>
  <servers>
    <server>
      <id>mobiles-repo</id>
      <username>anonymous</username>
      <password>*******</password>
    </server>
    <server>
      <id>sap.nexus</id>
      <username>deploy.milestones.ondevice</username>
      <password>{/F9Y4SWTegIHUjsMIpS4/Hr7Ke0Q+WvXyOEP6ezeO+Q=}</password>
    </server>
  </servers>
  <!-- activeProfiles>
    <activeProfile>myprofile</activeProfile>
  </activeProfiles -->
</settings>

